h1 {
  text-align: center;
  font-size: 3em;
}

.email {
  text-align: center;
  font-size: 2em;
}

nav ul {
text-align: center;
font-size: 3em;

}

nav li {
  display: inline;
}

img {
  float:right;
  width: 50%;
}

p {
  float: left;
  font-size: 2em;
}