h1 {
  text-align: center;
  font-size: 2em;
}

.email {
  text-align: center;
  font-size: 1em;
}

nav ul {
text-align: center;
font-size: 1.5em;

}

nav li {
  display: inline;
}

img {
  float:right;
  width: 40%;
}

p {
  float: left;
  font-size: 1.2em;
}

body {
  height: 70%;
  width: 50%;
  padding: 2em;
  margin: 0 auto;
}