body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/dandelion-seeds-water-droplets.jpg");
}

#container-site {
  background: black;
  max-width: 480px;
  border: 1px solid white;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-box-shadow: inset 3px 3px 3px 0 0 #a8d4e0;
  box-shadow: inset 3px 3px 0 0 #a8d4e0;
  -moz-box-shadow: inset 3px 3px 0 0 #a8d4e0;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header .heading h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #a8d4e0;
}

header .email {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1em;
}

header a {
  color: white;
}
header a:link {
  text-decoration: none;
}

header a:hover {
  color: #a8d4e0;
  text-decoration: none;
}

.container-nav {
  display: flex;
  justify-content: center;
}

.main-nav .menu {
  list-style: none;               /* strip of bullets */
  padding-left: 0;                /* remove padding */
  width: 400px;
  display: flex;
  justify-content: center;
}

.main-nav .fa {
  display: inline-block;
  vertical-align: top;
}

.main-nav .menu-text {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.main-nav .menu .active {
  text-decoration: none;
  background-color: #5191a3;
}

.main-nav .menu h4, .main-nav .menu p {
  margin: 0;
}

.main-nav .menu p {
  font-size: 1em;
}

.main-nav .menu ul {
  padding-left: 0;                /* needed because webkit is inserting unwanted padding */
}

.main-nav .menu li {
  padding: .25em .5em;
  background-color: black;
}

.main-nav a {
  color: white;
}

.main-nav a:link {
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: none;
  background-color: #003b4c;
}
/* ============ END HEADER ========== */

/* ============ Content ============= */
.container-fb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em 5em;
}

.quote p {
  color:  lime;
  float: left;
  font-size: 2.2em;
  font-style: italic;
  padding-right: 0.5em;
}
.headshot img {
  max-width: 300px;
}

/* =========== COLORS ==========*/




/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}
